.overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.overlayBlockInvisible {
  // fill: rgba(0, 255, 255, 0.407);
  fill: transparent;
}

.overlayBlockVisible {
  fill: none;
  stroke-width: 3px;
  stroke: var(--color);
}

.cyan {
  --color: rgba(157, 249, 255, 1.0);
}

.violet {
  --color: rgba(179, 130, 237, 1.0);
}