.overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.overlayBlockInvisible {
  // fill: rgba(0, 255, 255, 0.407);
  fill: transparent;
}

.overlayBlockVisible {
  --cyan: rgba(157, 249, 255, 1.0);
  --violet: rgba(179, 130, 237, 1.0);
  fill: none;
  stroke-width: 3px;
  stroke: var(--cyan);
}