@use "sass:color";

.overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.overlayBlockInvisible {
  fill: transparent;
}

.overlayBlockVisible {
  fill: none;
  stroke-width: 1.5px;
  stroke: var(--color);
}

$cyan: rgba(157, 249, 255, 1);
$violet: rgba(179, 130, 237, 1);

.cyan {
  --color: #{cyan};
}

.violet {
  --color: #{violet};
}

.mixed {
  --color: #{color.mix($cyan, $violet)};
}