$blockSize: 116px / 2;

.diceIcon {
  display: inline-block;
  width: $blockSize;
  height: $blockSize;
  background-image: url(/images/dice.png);
  background-size: $blockSize * 2 $blockSize;
}

.dice_145 {
  background-position-x: 0;
}

.dice_236 {
  background-position-x: $blockSize;
}

.calculatorRow {
  display: flex;
  align-items: center;
  gap: 10px;
}