.main {
  position: relative;
}

.slayer {
  position: absolute;
  left: 0;
}

.overlay {
  position: absolute;
  left: 0;
  /* background-color: aqua; */
  /* visibility: hidden; */
}

.overlayBlock {
  fill: rgba(0, 255, 255, 0.407);
}