.main {
  position: relative;
}

.slayer {
  position: absolute;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.overlayBlock {
  fill: rgba(0, 255, 255, 0.407);
}

.weights {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

$blockSize: 44px;

.block {
  width: $blockSize;
  height: $blockSize;
  background-image: url(/images/minigame.png);
  background-size: 250px;
}

.diamond_100_5000 {
  background-position: -55px -9px;
}
