.main {
  position: relative;
}

.slayer {
  position: absolute;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.overlayBlock {
  fill: rgba(0, 255, 255, 0.407);
}

.weights {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10px;
  vertical-align: top;
}

.weightInput {
  width: 50px;
  text-align: center;
}

.block {
  $blockSize: 44px;
  width: $blockSize;
  height: $blockSize;
  background-image: url(/images/minigame.png);
  background-size: 250px;
}

.diamond_x100_5000 {
  background-position: -55px -9px;
}

.white_feather_x1 {
  background-position: -102.5px -9px;
}

.fire_stone_x1000 {
  background-position: -150px -9px;
}

.purple_feather_x1 {
  background-position: -197.5px -9px;
}

.event_dice_x1 {
  background-position: -55px -56px;
}

.earth_stone_x1000 {
  background-position: -197.5px -56px;
}

.white_feather_x1_3 {
  background-position: -7.5px -103px;
}

.wind_stone_x1000 {
  background-position: -7.5px -150px;
}

.emerald_x150 {
  background-position: -197.5px -150px;
}

.green_feather_x1 {
  background-position: -7.5px -197px;
}

.water_stone_x1000 {
  background-position: -55px -197px;
}

.emerald_x30_1500 {
  background-position: -102.5px -197px;
}

.diamond_x500 {
  background-position: -150px -197px;
}